body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden; /* Empêche le défilement */
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
}


.fond-noir {
    background-color: black;
}
.text-white {
    color: white;
}

img{
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}

.img-white-HB {
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}
.img-full {
    display: block;  /* Élimine l'espace sous l'image */
    min-width: 100%;
    object-fit: cover;
}
.img-white-20 {
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 115%;
    max-height: 115%;
    object-fit: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}

.img-11 {
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}

.img-hotelhana4 {
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 20%;
    max-height: 20%;

    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}


.img-album {
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    width: 74%;
    height: 74%;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}


.img-black{
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    object-position: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}

.img-black-cover{
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}

.img-21{
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    width: 75%;
    height: 75%;
    object-fit: contain;
    object-position: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}

.img-black-23{
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    width: 95%;
    height: 95%;
    object-fit: contain;
    object-position: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}


.img-poster {
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    width: 90%;
    height: 90%;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}

.img-fromabove {
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    width: 85%;
    height: 85%;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}

.img-rebecq {
    display: block;  /* Élimine l'espace sous l'image */
    max-width: 100%;
    max-height: 100%;
    width: 95%;
    height: 95%;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Empêche les interactions de la souris avec l'image */
}